<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>
  <% if form_action[:id] != nil and current_user.name=='admin'%>
      <h3> Merge Articles </h3>
	  <%= form_tag({:action=>''},{:id=>"merge_with"}) do %>
	  	<p>
	    <%= label_tag(:article_id, "Article ID ") %>
	    <%= text_field_tag(:article_id) %>
	    </p>
	    <%= submit_tag("Merge") %>
	  <% end %>
  <% end %>

<% end %>
